services:
  postgres:
    image: ghcr.io/immich-app/postgres:17-vectorchord0.4.3
    env_file:
      - .env
    volumes:
      - ${DB_PATH}/pg17:/var/lib/postgresql/data
      - ${DB_PATH}/pg-bu:/pg-bu
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    user: 3000:3000
  pgadmin:
    image: dpage/pgadmin4:latest
    env_file:
      - .env
    volumes:
      - ${DATA_PATH}:/var/lib/pgadmin
      - ${CONFIG_PATH}:/pgadmin4/config_local.py
    depends_on:
      postgres:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 1G
    x-ports:
      - pgadmin.domain.com:80/https
