# Global options.
{
  email {env.EMAIL}
}

{env.WILDCARD_LIST} {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    resolvers 1.1.1.1
  }
}

# Unmanaged internal services not in Uncloud
pve.domain.com pve.apps.domain.com {
  reverse_proxy https://192.168.0.2:8006 {
    transport http {
      tls
      tls_insecure_skip_verify
    }
  }
}
